:root {
    --primario: #f46669;
    --secundario: #c7c57d;
    --gris: #f5f5f5;
}
body {
    font-family: 'Roboto', sans-serif;
    color:#303030;
}
p {
    font-weight: 300;
    line-height: 2rem;
    font-size: 1rem;
}
.badge-secondary {
    background-color: #c7c57d!important;
    color: black;
}

body.index .clases {
    background-color: #f5f5f5;
}
.imagen > div{
    height: 30rem;
}
@media (min-width:768px) {
    .imagen > div{
        height: 45rem;
    }
}
.bg-primary, 
.alert-primary,
.list-group-item-primary {
    background-color: #f46669!important;
}
.bg-secondary,
.alert-secondary,
.list-group-item-secondary {
    background-color: #c7c57d!important;
}
.bg-vino {
    background-image: url(../img/principal1.jpg);
    background-size: cover;
    background-position: top center;
}
.bg-comida {
    background-image: url(../img/principal2.jpg);
    background-size: cover;
    background-position: top center;
}
.imagen-superior .contenido{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.imagen-inferior .bg-comida {
    order: 1;
}
@media (min-width:768px) {
    .imagen-inferior .bg-comida {
        order: unset;
    }
}
.imagen-inferior .contenido {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.imagen .contenido p {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 100;
}

.separador::after {
    content:'';
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-image: url(../img/separador.png);
    background-position: center center;
    background-repeat: no-repeat;
}
@media (min-width:768px) {
    .separador::after {
        width: 80%;
    }
}
.inverso::after {
    background-image: url(../img/separador-inverso.png);
}
aside .inverso::after {
    width: 100%;
}
.nosotros .informacion h3 {
    font-weight: 300;
    font-size: 1.6rem;
}
.card {
    margin-bottom: 2rem;
}
.card-meta span {
    font-weight: 700;
}
.card-subtitle {
    color: #f46669;
    font-weight: 400;
}
.card-body p{
    font-size: 1rem;
    line-height: 2rem;
}
.licenciatura {
    background-image: url(../img/chef_bg.jpg);
    background-size: cover;
    background-position: center center;
}
.licenciatura .row{
    height: 38rem;
}
.licenciatura .contenido h2 {
    font-weight: 700;
    font-size: 2.4rem;
}
.licenciatura .contenido p {
    font-size: 1.8rem;
    line-height: 3rem;
}
.btn-primary {
    background-color: #f46767;
    border-color:#f46767;
}
.btn-primary:hover {
    background-color: #dc4747;
    border-color: #dc4747;
}
.footer {
    border-bottom: 10px solid #f46767;
}
.nav-link {
    color: black;
    text-transform: uppercase;
}
.nav-link:hover {
    color: #f46669;
}
.nav-link.active {
    color: #f46669;
    border-bottom: 2px solid #f46669;
}
.copyright {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
}
/** Imagenes **/
.imagen-destacada {
    height: 24rem;
    background-size: cover;
}
.nosotros-bg {
    background-image: url(../img/principal1.jpg);
}
.clase-bg {
    background-image: url(../img/clase1.jpg);
}
.contacto-bg {
    background-image: url(../img/principal2.jpg);
}

/** Nosotros **/
.contenido-nosotros {
    margin-top: -5rem;
    border: 1px solid #e1e1e1;
    position: relative;
    z-index: 100;
}

blockquote.subtitulo {
    font-size: 1.6rem;
    color: #303030;
    font-style: italic;
    font-weight: 100;
    border-left: .2rem solid #f46669;
}
/** Enlaces **/
.contenido-entrada .meta p{
    font-weight: 700;
}
.entrada a {
    color: #f46669;
}

/** Sidebar **/
aside a, aside a:hover {
    color: #f5f5f5;
}
aside .card {
    border:none;
}
aside .card-meta {
    background-color: #c7c57d!important;
}
aside .card-meta .badge-primary {
    background-color: #f46767;
}
aside .card-title {
    color: black;
    font-size: 1.2rem;
}
aside .card-footer {
    background-color: #c7c57d;
}
aside .card-footer a{
    color: black;
}

/* Clases */
.instructor {
    font-size: 1.8rem;
    color: #f46669;
}
